<header class="navbar">
  <div class="brand">
    <span nz-icon nzType="swap" nzTheme="outline" class="brand-icon"></span>
    <span class="brand-name">SkillSwap</span>
  </div>

  <nav class="nav-links">
    <a *ngFor="let link of navLinks" [routerLink]="link.route" [class.active]="link.active">
      {{ link.label }}
    </a>
  </nav>

  <div class="nav-actions">
    <ng-container *ngIf="!isLoggedIn(); else loggedInActions">
      <button nz-button nzType="text" class="login-btn" routerLink="/login">Log In</button>
      <button nz-button nzType="primary" class="signup-btn" routerLink="/signup">Sign Up</button>
    </ng-container>

    <ng-template #loggedInActions>
      <button nz-button nzType="text" class="profile-btn" routerLink="/profile" aria-label="Profile">
        <span nz-icon nzType="user" nzTheme="outline"></span>
      </button>
    </ng-template>
  </div>
</header>
